<footer class="footer">
    <article class="footer__container">
        <img src="https://pulse.support/assets-blog/FooterLogo.svg" alt="">
        <div class="footer__container__links-wrapper">
            <div>
                <a href="">
                    Production Support for Elasticsearch
                </a>

                <a href="">
                    Production Support for OpenSearch
                </a>

                <a href="">
                    Production Support for Kafka
                </a>
            </div>

            <div>
                <a href="">
                    Operations Ingelligence for Elasticsearch
                </a>

                <a href="">
                    Operations Ingelligence for OpenSearch
                </a>

                <a href="">
                    Operations Ingelligence for Kafka
                </a>
            </div>

        </div>
        <div class="footer__container__copyright-wrapper">
            <p>© 2022 BigData Boutique</p>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </article>
</footer>