<main>
    <div class="four-oh-four-container">
        <h1>{{message}}</h1>
        {{# if error}}
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
        {{/if}}
        <p>Please start your journey again from
            <a href="https://pulse.support/blog/"> the start.</a>
        </p>
    </div>
</main>