<main>
    <section class="hero">
        <article class="hero__flex-wrapper">
            <h1>Welcome to our blog!</h1>
            <p>On this page the best minds of our team share their thoughts on Big Data, Pulse, and how it helps to grow your business through solving your Big Data challenges.</p>
            <button class="button-primary"> <!-- {{blogRoutePrefix}}/rss -->
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.941162 7.52307C3.1877 7.52307 5.34223 8.40668 6.93077 9.9795C8.51931 11.5523 9.41174 13.6855 9.41174 15.9099" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M0.941177 1C4.93503 1 8.7653 2.57086 11.5894 5.36699C14.4135 8.16313 16 11.9555 16 15.9099" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M1.5 16.8417C2.32843 16.8417 3 16.1768 3 15.3565C3 14.5363 2.32843 13.8714 1.5 13.8714C0.671573 13.8714 0 14.5363 0 15.3565C0 16.1768 0.671573 16.8417 1.5 16.8417Z" fill="#8141DD"/>
                </svg>
                Subscribe with RSS
            </button>
        </article>
        <img src="https://pulse.support/assets-blog/HeroImage.svg" alt="" class="hero__image">
    </section>

    <section class="posts">

        {{#if (and posts.length (eq pageNum 1) (eq template "index"))}}
            {{> first-post (head posts)}}
        {{/if}}

        {{#if posts.length}}
            {{#each (tail posts)}}
                {{> post this}}
            {{/each}}
<!--            <p class="blog-more-posts">-->
<!--                <a href="{{blogRoutePrefix}}/page/1">See more posts</a>-->
<!--            </p>-->
        {{else}}
            <!-- no content -->
        {{/if}}

        <a href="/" class="post">
            <div class="post__container">
                <div class="post__container__text-wrapper">
                    <h2>Production Support & Operations Intelligence for Elasticsearch</h2>
                    <div class="post__container__text-wrapper__dots-container">
                        <button class="button-primary button-primary--solid">Request Trial</button>
                        <img src="https://pulse.support/assets-blog/InvertedLeftDots.svg" alt="">
                    </div>
                </div>
                <img class="improper-svg" src="https://pulse.support/assets-blog/ThirdPostImage.svg" alt="">
            </div>
        </a>
        {{> pagination}}
    </section>
</main>
