<main>
    <div class="main-cards-container">
        <div class="blog-title my-5">
            {{#if year}}<h3><span>Blog /</span> {{#if month}}{{month}}/{{/if}}{{year}}</h3>{{/if}}
        </div>

        {{#if posts.length}}
        <div class="cards-container">
            {{#each posts}}
                {{> post-card this}}
            {{/each}}
        </div>
        {{> pagination}}
        {{else}}
            {{> no-content}}
        {{/if}}
    </div>
</main>
